body {
    background-color: black;
   }
nav {
    color: #ffff;
    border-radius: 5px;
}
main {
    margin-top:15px;
    border-radius: 5px;
    color:#ffff
}

.main-title {
	margin: 0 auto;
	padding-bottom: 10px;
}

.main-description-block {
	margin: 15px;
	padding-top: 15px;
}

.inline {
	display: inline-block
}

.search-widget {
	width: 17%;
}
