body {
    background-color: black;
   }
nav {
    color: #ffff;
    border-radius: 5px;
}
main {
    margin-top:15px;
    border-radius: 5px;
    color:#ffff
}

.main-title {
	margin: 0 auto;
	float: center !important;
	padding-bottom: 10px;
	width: 100%;
}

.main-description-block {
	margin: 15px;
	padding-top: 15px;
}

.list-element {
	background-color: transparent;
	color: white;
}

.inline {
	display: inline-block
}

.left-column {
	float: left;
	width: 50%;
}

.right-column {
	float: right;
	width: 50%;
}
