body {
	background-color: black;
}

a {
	text-decoration:none;
}

a:hover {
	text-decoration:none;
}

p {
	padding-bottom: 5px;
}

.finder_searchbox {
	margin-top: 13px;
}

.finder_widget {
	margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.icons {
	color: white;
	background-color: #343A40;
	margin-top: 9px;
    text-align: center;
}

.group {
	margin: 0 auto;
	width: 90%;
}
.list-group-item{
    background-color: #1f2326;
    border-radius: 5px;
    margin-right: 35px;
}