body {
    background-color: black;
   }

.finder_searchbox {
	margin-top: 13px;
}

.finder_widget {
	margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.icons {
	color: white;
	background-color: black;
	margin-top: 9px;
    text-align: center;
}

a {
	text-decoration:none;
}

a:hover {
	text-decoration:none;
}

