{% extends 'base.html' %}
{% block content %}
<head>
    <link rel="stylesheet" media="screen" type="text/css" href="../static/styles/ide.css">
</head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/tingle/0.15.2/tingle.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tingle/0.15.2/tingle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/theme-monokai.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/mode-text.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.2/dist/FileSaver.min.js"></script>
<div id="page-content-wrapper">
    <div class="toolbar">
        <select name="sel-mode"></select>
    </div>
    <pre id="editor">{{code}}</pre>
</div>
<form method="post" name="codeform">
    <input hidden="hidden" name="code" id="code">
</form>
<button onclick="submit()">Run</button>
    <div><textarea readonly>output>{{result}}</textarea></div>

<script>
const MODES = getModes();
ace.config.set('basePath', 'https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11');

$('select[name="sel-mode"]').append(MODES.map(mode => new Option(mode.text, mode.value)));

const defaultMode = 'python';
const editor = ace.edit("editor");
editor.setTheme("ace/theme/monokai");
editor.getSession().setMode(`ace/mode/${defaultMode}`);
editor.setShowPrintMargin(false);
function submit() {
let form = document.forms.codeform;
    for (let i = 0; i < editor.session.getLength(); i++) {
        form.elements.code.value += editor.session.getLine(i) + "<br/>";
};
    alert(form.elements.code.value);
    form.submit();
};
  $('select[name="sel-mode"]').on('change', function(e) {
  editor.getSession().setMode("ace/mode/" + e.target.value);
}).val(defaultMode);
function getModes() {
  return [{
    "text": "Python",
    "value": "python",
    "extension": "py"
  }];
}
</script>
{% endblock %}