{% extends 'base.html' %}
{% block content %}

<link rel='stylesheet' type='text/css' href='../static/styles/base.css'/>

<div class="row content main-description-block">
<h1 class=main-title>About GitWithMe</h1>
<p>GitWithMe is a web application with a clear interface.
    We believe that development must be an enjoyable and creative experience
    to be truly fulfilling. So, we hope that our application will take the pain out of your development by easing the way you code with many helpful options, such as:
</p>
    <ul>
    <li>GitHub integration</li>
    <li>A team search</li>
    <li>Online IDE with a synchronization with your colleagues in real time></li>
</ul>
    </div>
{% endblock %}