{% extends 'base.html' %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles/profile.css">
</head>
<div class="row; nickname">
    <div class="col col-md-auto">
        <h3>{{nickname}}</h3>
    </div>
</div>
<div class="row">
    {% if add_btn %}
    <div class="col col-md-auto">
        <button onclick="window.location.href = '/add_user/{{nicname}}'">Add to a group</button>
    </div>
    {% endif %}
    <div class="col col-md-2">
        <img src="{{image}}" width="150px">
    </div>
    <div class="col col-lg-2; description">
        <h4>Description</h4>
        {% if desciption %}
        {{description[:30]}}
        {% endif %}
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col col-lg">
        {% if groups %}
        <h3>Groups</h3>
        <table>
            <thead>
            <tr>
                <td>Group name</td>
                <td>Participants</td>
                <td>Description</td>
            </tr>
            </thead>
            {% for group in groups %}
            <tr>
                <td><a href="/group/{{group.name}}">{{group.name}}</a></td>
                <td>{% for user in group.user %}
                    <!-- Link to user -->
                    <a href="{{ '/profile/' + user.nickname}}">
                        <!-- User icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg>
                    </a>
                    <b>{{ user.nickname }}</b>
                </td>
                {% endfor %}
                {% if desciption %}
                <td>{{group.description[:30]}}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}