{% extends 'base.html' %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/user_finder.css">
    <title>User finder</title>
</head>
<body>
<!-- Search widget -->
<form class="navbar-form" role="search">
    <div class="input-group finder_widget form-outline">
        <input type="text" autocomplete="off" class="form-control finder_widget finder_searchbox"
               placeholder="User search"
               name="search" id="search-input" ,
               value="{{ search_text }}">
        <span class="input-group-btn">
            <button class="finder_widget btn" id="srchbtn" type="btn-default">
            	<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                     class="bi bi-search icons" viewBox="0 0 16 16">
            	<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </button>
        </span>

        </svg>
    </div>
</form>
&nbsp;
<!-- Result -->
{% if search_text %}
{% if users%}
<ul class="list-group-for-users">
    {% for nickname, description in users %}
    <li class="list-group-item">
        <a href="{{ '/profile/' + nickname }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-people-fill"
                 viewBox="0 0 16 16" , style="margin-right: 5px">
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="#343a40"
                      d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
            </svg>
        </a>
        <b>{{ nickname }}</b> | {{ description[:30] }}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No user with this nickname</p>
{% endif %}
{% endif %}


</body>
{% endblock %}